<h1>Cars</h1>

<%= render partial: 'cars/car_list', locals: {cars: @cars} %>

<%= link_to "Back", welcome_index_path %> <!-- Using welcome index path because rails defaults welcome_path to show, not index-->