<h1>Archived manufacturers</h1>
<%= render partial: 'manufacturers/manufacturers', locals: { manufacturers: @manufacturer} %>

<footer>
    <%= link_to 'All manufacturers', manufacturers_path %></footer>