<h1>All Manufacturers</h1>
<%= render partial: 'manufacturers/manufacturers', locals: {manufacturers: @manufacturers} %>

<footer>
  <%= link_to 'Archived manufacturers', archived_manufacturers_path %>
</footer>

<%= link_to "Back", cars_path %>